[{:name "args"
  :files ["args.wattle" "LICENSE.argy-bargy"]
  :help "Parses command-line arguments."}
 {:name "test"
  :files ["test.wattle" "LICENSE.testament"]
  :help "Defines, verifies and collates tests."}]
